* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
}

#map {
    width: calc(100vw - 250px);
    height: 100vh;
}

a.place_list {
    display: block;
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    transition: 250ms;
}

a.place_list:hover {
    background: rgba(173, 95, 95, 0.73);
}

#list {
    width: 250px;
    background: #FFF;
    margin-left: auto;
    overflow: auto;
}
